name: Docker Image Push

on:
  push:
    branches:
      - main  # Replace with the branch you want to trigger this workflow on

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push Docker image
        env:
          DOCKER_USERNAME: ${{ github.repository_owner }}
          DOCKER_REGISTRY: ghcr.io
          IMAGE_NAME: baharehtorki/final_devops
          IMAGE_TAG: latest
        run: |
          docker buildx create --use
          docker buildx build \
            --push \
            --tag $DOCKER_REGISTRY/$IMAGE_NAME:$IMAGE_TAG \
            .

      - name: Clean up
        run: |
          docker buildx stop
          docker buildx rm
