name: Docker Image Push

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
  
      - name: Setup-java
        uses: actions/setup-java@v3
        with:
          distribution: 'dragonwell'
          java-version: '17'

      - name: Make Gradlew Executable
        run: chmod +x ./gradlew

      - name: Build and Test
        run: ./gradlew build
  
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.0.0
  
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io/baharehtorki/
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.CLASSICTOKEN }}
      
      - name: Build and push Docker image
        env:
          DOCKER_USERNAME: ${{ github.repository_owner }}
          DOCKER_REGISTRY: ghcr.io
          IMAGE_NAME: baharehtorki/final_devops
          IMAGE_TAG: latest
        run: |
          docker buildx create --use
          docker buildx build \
            --push \
            --tag $DOCKER_REGISTRY/$IMAGE_NAME:$IMAGE_TAG \
            .
        
      - name: Deploy to Test Environment
        run: |
          echo "clone the docker image form 'docker pull ghcr.io/baharehtorki/final_devops:latest' and deploy it in your test enviornment!" 
        
      - name: Clean up
        run: |
          docker buildx stop
          docker buildx rm