name: Förbättring av CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "feature" ]

permissions:
  contents: read
  packages: write


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Make Gradlew Executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2.9.0
        with:
          arguments: build -x test

      - name: Run Unit Tests
        run: ./gradlew test --tests "*LightTest*"

      - name: Run Integration Tests
        run: ./gradlew test --tests "*ManipulateLightsIT*"

  build-and-push-image:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Make Gradlew Executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
        with:
          arguments: build -x test

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io/baharehtorki/as
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.CLASSICTOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/baharehtorki



  fake-deploy-to-test:
    needs: build-and-push-image
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Test Environment (Fake)
        run: | 
         echo "deploying app but it's all a lie"
