name: Docker Image Push

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Make Gradlew Executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
        with:
          arguments: build -x test
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.0.0
            
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io/baharehtorki/
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.CLASSICTOKEN }}
          
      - name: Build and push Docker image
        env:
          DOCKER_USERNAME: ${{ github.repository_owner }}
          DOCKER_REGISTRY: ghcr.io
          IMAGE_NAME: baharehtorki/final_devops
          IMAGE_TAG: latest
        run: |
          docker buildx create --use
          docker buildx build \
            --push \
            --tag $DOCKER_REGISTRY/$IMAGE_NAME:$IMAGE_TAG \
            .

      - name: Deploy to Test Environment
        run: |
          kubectl apply -f deployment.yaml

      - name: Clean up
        run: |
          docker buildx stop
          docker buildx rm
